ion-header {
    ion-toolbar {
        --background: var(--primary-color);
        color: #ffffff;
    }

    ion-buttons {
        ion-button {
            .material-symbols-outlined, span {
                color: #ffffff;
            }
        }
    }
}

ion-content {
    --background: var(--bg-color-0);

    .formLunch {
        background-color: var(--bg-color-100);
        padding: 1rem;
        border-radius: var(--radius-10);
        
        ion-item {
            color: var(--text-color);
            --background: var(--bg-color-100);
        }
    }
}