<ion-tabs>
  <ion-tab-bar slot="bottom" translucent="true">
    <ion-tab-button tab="menu">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Cardápio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="snack">
      <ion-icon name="fast-food"></ion-icon>
      <ion-label>Merenda</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="lunch">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Almoço</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
