<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="menu">
      <span class="material-symbols-outlined">chef_hat</span>
      <ion-label>Cardápio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="snack">
      <span class="material-symbols-outlined">fastfood</span>
      <ion-label>Merenda</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="lunch">
      <span class="material-symbols-outlined">dinner_dining</span>
      <ion-label>Almoço</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
