ion-header {
    ion-toolbar {
        --background: var(--primary-color);
        color: #ffffff;
        
        ion-buttons {
            ion-button {
                ion-avatar {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}