ion-header {
    ion-toolbar {
        --background: var(--primary-color);
        color: #ffffff;

        ion-title {
            font-size: 1.25rem;
            font-weight: 800;
        }
        
        ion-buttons {
            ion-button {
                ion-avatar {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}