ion-header {
    ion-toolbar {
        --background: var(--primary-color);
        color: #ffffff;

        ion-title {
            font-weight: 700;
        }

        ion-buttons {
            ion-button {
                .material-symbols-outlined, span {
                    color: #ffffff;
                }
            }
        }
    }
}

ion-content {
    --background: var(--bg-color-0);
    
    .toggle-theme {
        padding: 1rem;
        background-color: var(--bg-color-100);
        border-radius: var(--radius-30);
        display: flex;
        
        ion-item {
            color: var(--text-color);
            width: 100%;
            --background: var(--bg-color-100);

            ion-checkbox {
                font-weight: 600;
            }
        }
    }

    .contributors {
        color: var(--text-color);
        padding: 1rem;
        margin-top: 1rem;
        background-color: var(--bg-color-100);
        border-radius: var(--radius-30);
        display: flex;
        align-items: center;
        gap: .5rem;
        flex-direction: column;

        span {
            margin: .5rem;
            font-weight: 600;
        }
    }
}