ion-content {
    .toggle-theme {
        padding: 1rem;
        background-color: var(--bg-color-100);
        border-radius: var(--radius-30);
        display: flex;
        // align-items: center;
        // justify-content: center;
        
        ion-item {
            width: 100%;
            --background: var(--bg-color-100);
        }
    }

    .logout {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -110%);
    }
}

.logout {
    width: 50%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -110%);

    ion-button {
        width: 100%;
    }
}