<app-header title="Merenda" [load]="loadMenu()"/>

<ion-content>
  <ion-list [inset]="true">
    @for (snack of snacks(); track $index) {
      <ion-item class="ion-no-padding">
        <div class="snack">
          <span class="name">{{ snack.name }}</span>
          <div class="actions">
            <span class="material-symbols-outlined" id="open-modal" expand="block" (click)="openEditSnack(snack)">edit</span>
            <span class="material-symbols-outlined" (click)="presentDeleteConfirm(snack)">delete</span>
          </div>
        </div>
      </ion-item>
    }  @empty {
      <h2 class="error">Erro ao obter dados :/</h2>
    }
  </ion-list>

  <ion-button (click)="openCreateSnack()">
    <span class="material-symbols-outlined">add</span>
  </ion-button>
</ion-content>