ion-content {
    --background: var(--bg-color-0);
    
    ion-list {        
        ion-item {
            color: var(--text-color);
            --background: var(--bg-color-0);

            .snack {
                display: flex;
                width: 100%;
                justify-content: space-between;

                .name {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .actions {
                    display: flex;
                    gap: .5rem;
                    cursor: pointer;
                }
            }
        }

        .error {
            font-size: 1.5rem;
            text-align: center;
        }
    }

    ion-button {
        position: fixed;
        top: 100%;
        left: 100%;
        transform: translate(-120%, -120%);
    }
}