ion-content {
    --background: var(--primary-color);
    overflow: none;
    
    .container {
        display: flex;
        flex-direction: column;
        overflow: none;
        background-color: var(--bg-color);
        border-radius: var(--radius-30) var(--radius-30) 0 0;
        height: 100%;
        
        ion-searchbar {
            color: var(--text-color);
            --background: var(--bg-color-500);
        }
            
        .scrollable-list {
            flex-grow: 1;
            overflow: auto;

            ion-list {
                margin: 0 1rem 0;

                ion-item {
                    color: var(--text-color);
                    --background: var(--bg-color);

                    .snack {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;

                        .name {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: 1.15rem;
                        }

                        .actions {
                            display: flex;
                            gap: .5rem;
                            cursor: pointer;
                        }
                    }
                }

                .empty {
                    display: flex;
                    justify-content: center;
                    background-color: var(--bg-color);
                }
            }
        }

        ion-button {
            position: fixed;
            top: 100%;
            left: 100%;
            transform: translate(-120%, -120%);
        }
    }
}