<app-header title="Almoço" [load]="loadMenu()"/>

<ion-content>
  <ion-list [inset]="true">
    @for (lunch of lunches(); track $index) {
      <ion-item class="ion-no-padding">
        <div class="lunch">
          <span class="name">{{ lunch.name }}</span>
          <div class="actions">
            <span class="material-symbols-outlined" id="open-modal" expand="block" (click)="openEditLunch(lunch)">edit</span>
            <span class="material-symbols-outlined" (click)="presentDeleteConfirm(lunch)">delete</span>
          </div>
        </div>
      </ion-item>
    } @empty {
      <h2 class="error">Erro ao obter dados :/</h2>
    }
  </ion-list>

  <ion-button (click)="openCreateLunch()">
    <span class="material-symbols-outlined">add</span>
  </ion-button>
</ion-content>