ion-content {
    --background: var(--bg-color-0);

    ion-list {
        margin: 0 1rem 0;

        ion-item {
            --background: var(--bg-color-0);
            color: var(--text-color);

            .lunch {
                display: flex;
                width: 100%;
                justify-content: space-between;

                .name {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 1.15rem;
                }

                .actions {
                    display: flex;
                    gap: .5rem;
                    cursor: pointer;
                }
            }
        }

        .empty {
            display: flex;
            justify-content: center;
        }
    }

    ion-button {
        position: fixed;
        top: 100%;
        left: 100%;
        transform: translate(-120%, -120%);
    }
}