ion-content {
    --background: var(--bg-color);
    
    h2 {
        color: var(--text-color);
        text-align: center;
        margin: 4rem;
    }

    ion-avatar {
        width: 8rem;
        height: 8rem;
        margin: auto;
        cursor: pointer;
    }

    form {
        color: var(--text-color);
        background-color: var(--bg-color-50);
        border: .1rem solid var(--gray);
        border-radius: var(--radius-10);
        padding: 1rem;
        margin: auto;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;

        .form-title {
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }

        ion-item {
            --background: var(--bg-color-50);
            color: var(--text-color);

            .item-native {
                --padding-left: 0 !important;
            }
        }

        ion-button {
            margin-top: 1rem;
            cursor: pointer;
        }
    }
}