ion-header {
    ion-toolbar {
        --background: var(--primary-color);
        color: #ffffff;
    }

    ion-buttons {
        ion-button {
            .material-symbols-outlined, span {
                color: #ffffff;
            }
        }
    }
}

ion-content {
    --background: var(--bg-color-100);

    .snack, .lunch {
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        margin: 1rem;
        border-radius: var(--radius-30);
        align-items: center;
        gap: .35rem;
        padding: .2rem;

        h2 {
            font-weight: 600;
            font-size: 1.5rem;
            margin: 0;
            margin-bottom: 1rem;
        }

        h3 {
            margin: 0;
            font-weight: 600;
            margin-bottom: .4rem;
        }

        span {
            font-weight: 500;
        }

        .lactose {
            background: var(--pg-color-500);
            padding: .2rem 1rem;
            border-radius: var(--radius-10);
            color: #ffffff;
            font-weight: 700;
            margin: .35rem;
        }

        .assessment {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .2rem;
            
            span {
                font-weight: 600;
            }
        }
    }
}