/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

:root {
    --gray: #74777F;
    --bg-color-0: #ffffff;
    --bg-color-50: #f2f2f2;
    --bg-color-100: #ffffff;
    --bg-color-300: #f2f2f2;
    --bg-color-500: #e6e6e6;
    --bg-color-700: #cccccc;
    --bg-color-900: #b3b3b3;
    --primary-color: #FF6600;
    --pg-color-100: #ffe6d5;
    --pg-color-300: #ffccaa;
    --pg-color-500: #ff9966;
    --pg-color-700: #ff8533;
    --pg-color-900: #ff6600;
    --radius-10: 0.5rem;
    --radius-30: 1rem;
    --radius-50: 2rem;
}

:root.app-dark {
    --gray: #74777F;
    --bg-color-0: #000000;
    --bg-color-50: #111111;
    --bg-color-100: #1e1e1e;
    --bg-color-300: #2a2a2a;
    --bg-color-500: #383838;
    --bg-color-700: #4a4a4a;
    --bg-color-900: #5c5c5c;
    --primary-color: #FF6600;
    --pg-color-100: #1a0a00;
    --pg-color-300: #331a00;
    --pg-color-500: #994d00;
    --pg-color-700: #cc5c00;
    --pg-color-900: #ff6600;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto,"Helvetica Neue", sans-serif;
}

body.dark {
    --ion-background-color: #000;
    --ion-text-color: #fff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.nutritional-modal {
    --width: 80%;
    --min-width: 250px;
    --max-width: 400px;
    --height: 32rem;
    --border-radius: var(--radius-10);
    --border: .1rem solid var(--gray);
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-toggle {
    --track-background: #cccccc !important;
}

.no-padding-end {
    --inner-padding-end: 0px;
}